#pic2{
	
  position: relative;
  top: -100px;
  left: 300px;
  width: 500px;

}
#pic3{
	position: relative;
	top: -400px;
	left: 600px;
	width: 500px;

}
#pic4{
	position: relative;
	top: -500px;
	left: 900px;
	width: 500px;
}
#pic5{
	position: relative;
	top: -800px;
	left: 1200px;
	width: 500px;
	
}
#list{
	position: relative;
	top: -750px;
	left: 300px;
	
}
#title{
	position: relative;
	top: -700px;
	left: 300px;
	
}
#title2{
	position: reltive;
	top: -700px;
	left: 300px;
}
#text{
	position: relative;
	top: -700px;
	left: 300px;
}
#text2{
	position: relative;
	top: -700px;
	left: 300px;
}
#text3{
	position: relative;
	top: -700px;
	left: 300px;
}
#text4{
	position: relative;
	top: -700px;
	left: 300px;
}
#text5{
	position: relative;
	top: -700px;
	left: 300px;
}
#london{
	
  position: relative;
  top: -600px;
  left: 90px;
  width: 500px;
}
#family{
	
  position: relative;
  top: -1000px;
  left: 470px;
  width: 500px;
}
#violin2{
	
  position: relative;
  top: -1405px;
  left: 860px;
  width: 500px;
}
#gwc{
	
  position: relative;
  top: -2050px;
  left: 0px;
width: 500px;}
  
#code{
	visibility:hidden;
 }

